.header {
    background-color: var(--yellow);
    padding: 20px;
}

.header button {
    color: var(--green-light);
    font-weight: 500;
    font-size: x-large;
    margin-right: 20px;
}

.header button.selected {
    color: var(--green);
}