.header {
    background-color: var(--principal);
    padding: 20px;
}

.header button {
    color: var(--principal-dark);
    font-size: x-large;
    margin-right: 20px;
}

.header button.selected {
    color: var(--light);
}