@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #2F3131;
  --light: #FDFBFF;
  --grey: #747070;
  --grey-light: #DFE0DF;
  --principal: #D5B9E7;
  --principal-dark: #3C274C;
  --secondary: #007663;
  --secondary-dark: #005B4B;
  --tertiary: #FFE9FF;
  --tertiary-dark: #DB90C6;
  --ob-color: #F2B5A2;
  --success: #68CE42;
  --success-light: #b4e7a1;
  --warning: #FF9952;
  --warning-light: #ffcca9;
  --error: #f00;
  --error-light: #ff8080;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main, body {
  background-color: var(--light);
}

label {
  font-size: large;
  font-weight: 700;
}

.holiday {
  background-color: var(--secondary);
  color: var(--light);
  font-weight: 500;
}

.ownBusiness {
  background-color: var(--ob-color);
}

.paidAbsence {
  background-color: var(--warning);
}

.festivity {
  cursor: default;
  background-color: var(--principal-dark);
  font-weight: 500;
  color: var(--light);
}

.save {
  background-color: var(--tertiary);
  color: var(--principal-dark);
}

.save:hover {
  background-color: var(--tertiary-dark);
}

.error {
  color: var(--error);
}

.normal {
  color: var(--dark);
}