@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --success: #68CE42;
  --success-light: #b4e7a1;
  --warning: #FF9952;
  --warning-light: #ffcca9;
  --error: #f00;
  --error-light: #ff8080;

  --orange: #d16708;
  --green: #5a5427;
  --green-light: #a79057;
  --grey: #d3bd99;
  --background-color: #f5f0e0;
  --yellow: #f5cd62;
  --yellow-dark: #e4b840;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main,
body {
  background-color: var(--background-color);
  color: var(--green);
}

.weekdays label {
  font-weight: 500;
  padding: 0 8px;
  color: var(--orange)
}

.monthName {
  font-size: x-large;
  font-weight: 700;
  color: var(--orange)
}

.holiday,
.personalDays,
.paidAbsences,
.festivity {
  color: var(--background-color);
  font-weight: 500;
}

.holiday {
  background-color: var(--green);
}

.personalDays {
  background-color: var(--green-light);
}

.paidAbsences {
  background-color: var(--grey);
}

.festivity {
  cursor: default;
  background-color: var(--orange);
}

.save {
  background-color: var(--yellow);
  color: var(--orange);
}

.save:hover {
  color: var(--yellow-dark);
}

.error {
  color: var(--error);
}

.month {
  background-color: var(--yellow);
  padding: 20px 30px;
  border-radius: 30px;
}